<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markz.horizon.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.markz.horizon.entity.Article">
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatarurl" jdbcType="VARCHAR" property="avatarurl" />
    <result column="article" jdbcType="LONGVARCHAR" property="article" />
  </resultMap>
  <insert id="insert" parameterType="com.markz.horizon.entity.Article">
    insert into article (openid, time, nickname, 
      avatarurl, article)
    values (#{openid,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, #{nickname,jdbcType=VARCHAR}, 
      #{avatarurl,jdbcType=VARCHAR}, #{article,jdbcType=LONGVARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select openid, time, nickname, avatarurl, article
    from article
  </select>
  <select id="selectByOpenId" resultMap="BaseResultMap">
    select openid, time, article
    from article
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
</mapper>