<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markz.horizon.mapper.TestarticleMapper">
  <resultMap id="BaseResultMap" type="com.markz.horizon.entity.dao.Testarticle">
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatarurl" jdbcType="VARCHAR" property="avatarurl" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="likee" jdbcType="INTEGER" property="likee" />
    <result column="dislike" jdbcType="INTEGER" property="dislike" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="article" jdbcType="LONGVARCHAR" property="article" />
  </resultMap>
  <insert id="insert" parameterType="com.markz.horizon.entity.dao.Testarticle">
    insert into testarticle (username, nickname, avatarurl, 
      title, likee, dislike, 
      time, article)
    values (#{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{likee,jdbcType=INTEGER}, #{dislike,jdbcType=INTEGER}, 
      #{time,jdbcType=TIMESTAMP}, #{article,jdbcType=LONGVARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select username, nickname, avatarurl, title, likee, dislike, time, article
    from testarticle
  </select>
</mapper>