<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markz.horizon.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.markz.horizon.entity.User">
    <id column="account" jdbcType="INTEGER" property="account" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where account = #{account,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.markz.horizon.entity.User">
    insert into user (account, nickname, password, 
      status, sign)
    values (#{account,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{sign,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.markz.horizon.entity.User">
    update user
    set nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sign = #{sign,jdbcType=VARCHAR}
    where account = #{account,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select account, nickname, password, status, sign
    from user
    where account = #{account,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select account, nickname, password, status, sign
    from user
  </select>
</mapper>