<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.markz.horizon.mapper.UserinfoMapper">
  <resultMap id="BaseResultMap" type="com.markz.horizon.entity.dao.Userinfo">
    <id column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatarurl" jdbcType="VARCHAR" property="avatarurl" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="province" jdbcType="VARCHAR" property="province" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from userinfo
    where openid = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.markz.horizon.entity.dao.Userinfo">
    insert into userinfo (openid, nickname, avatarurl, 
      city, country, gender, 
      province)
    values (#{openid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{avatarurl,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{province,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.markz.horizon.entity.dao.Userinfo">
    update userinfo
    set nickname = #{nickname,jdbcType=VARCHAR},
      avatarurl = #{avatarurl,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR}
    where openid = #{openid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select openid, nickname, avatarurl, city, country, gender, province
    from userinfo
    where openid = #{openid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select openid, nickname, avatarurl, city, country, gender, province
    from userinfo
  </select>
</mapper>